<div class = "parent">
  <% if !@recipes.blank? %>
    <strong> Your Recipes </strong>
    </br>
    <% for item in @recipes %>
      <div class = 'child'>
        <div class = 'child'>
          <%= link_to item.name, {:controller => 'recipes/new/', :recipe_id => item.id}%>
        </div>
      </div>
      </br>
    <% end %>
  <% else %>
  <% end %>
  <div class = 'child'>
    <%= link_to "Create New Recipe", {:controller => "recipes/new"} %>
  </div>
  <div class = 'child'>
    <%= link_to "Shopping List", {:controller => "shopping/list"}%>
  </div>
</div>
